:root {
    --primary-clr: #5031ff;
    --secondary-clr: #cb0000;
    --tertiary-clr: #e4ea8c;
    height: 100%;
}

@font-face {
    font-family: 'norse-bold';
    src: url('./fonts/Norse-Bold.otf');
}

@font-face {
    font-family: 'gloo-gun';
    src: url('./fonts/GLOO-GUN.TTF');
} 

@font-face {
    font-family: 'trick-tag';
    src: url('./fonts/TrickTag.ttf');
}

@font-face {
    font-family: 'ktf-roadbrush';
    src: url('/fonts/KTF-Roadbrush.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--primary-clr);
}

h1 {
    font-family: 'norse-bold';
    font-size: 2.5em;
    text-align: center;
    padding: 15px 0;
    color: var(--tertiary-clr);
}

main {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 10px repeat(3, 100px) 50px;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    position: relative;
}

.line {
    visibility: hidden;
    grid-column: 1/4;
    height: 2px;
    background-color: var(--secondary-clr);
    position: relative;
}

.h-line-0 {
    top: 58px;
}

.h-line-3 {
    top: 158px;
}

.h-line-6 {
    top: 258px;
}

.v-line {
    transform: rotate(90deg);
    top: 157px;
    
}

.v-line-0 {
    right: 99px;
}

.v-line-1 {
    left: 1px;
}

.v-line-2 {
    left: 101px;
}

.d-line-0 {
    transform: rotate(45deg);
    top: 156px;
}

.d-line-2 {
    transform: rotate(-45deg);
    top: 159px;
}

.cell {
    border: 1px solid var(--primary-clr);
    font-size: 3rem;
    color: var(--secondary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'trick-tag';
}

.no-side-bdr {
    border-left: none;
    border-right: none;
}

.no-vertical-bdr {
    border-bottom: none;
    border-top: none;
}

.btn-container {
    grid-column: 1/4;
    display: flex;
    align-items: center;
}

.btn-container button {
    display: inline-block;
    width: 100%;
    padding: 8px 0;
    border-radius: 8px;
    border: none;
    background-color: var(--primary-clr);
    color: var(--tertiary-clr);
    font-size: 1.2rem;
    font-family: 'ktf-roadbrush';
}

.btn-container button:active {
    opacity: .5;
}

footer {
    background-color: var(--secondary-clr);
}

footer p {
    padding: 15px;
    color: var(--tertiary-clr);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    gap: 5px;
    font-family: 'gloo-gun';
}

footer a {
    display: flex;
    gap: 5px;
    color: inherit;
}

footer img {
    align-self: center;
}

